/*
==========
variables
==========
*/

/* colors */
$background: #1a1f22;
$background-light: #262a2c;
$background-hover: #2a2f30;
$accent-main: #6ed1fd;
$accent-hover: #57a1c0;
$color-main: #e7f8ff;
$color-deact: #657175;

/* typography */
$family: 'Mulish', sans-serif;
$normal: 300;
$bold: 900;

/* layout */
$spacing-big: 10em;
$spacing-med: 5em;
$spacing-small: 2em;
$vw-small: 5vw;
$vw-med: 8vw;
$container-width: 90%;

/* media */
$tablet-width: 900px;
$desktop-width: 1200px;
