@import './mixins';

/*
==========
variables
==========
*/

/* colors */
$background: #1a1f22;
$background-light: #212629;
$background-hover: #2a2f30;
$accent-main: #6ed1fd;
$accent-hover: #57a1c0;
$accent-dark: #005a81;
$color-hover: #b5e6ff;
$color-main: #c5ecff;
$color-deact: #657175;
$warning: #e7d04b;
$danger: #eb5858;

/* typography */
$family: 'Mulish', sans-serif;
$normal: 400;
$bold: 900;

/* layout */
$spacing-big: 8em;
$spacing-med: 3.5em;
$spacing-small: 1.2em;

$container-width: 90%;

/* media */
$tablet-width: 650px;
$desktop-width: 900px;
